@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

*{
    padding: 0rem;
    margin: 0rem;
}

//reset form styling for actual styling
form {
    margin: 0;
    padding: 0;
    border: none;
}

input, button {
    margin: 0;
    padding: 0;
    border: $cloud .0625rem solid;
    font: inherit;  
    background: none; 
    outline: none; 
    box-shadow: none; 
    &:active {
        border-color: $fbBlue;
    }
}
.error {
    display: flex;
    align-items: center;
    font-size: .75rem;
    color: red;
    @include body-small;
}
.survey {
    padding: 1rem;
    &__title {
        @include page-header;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
    }
    &__subtitle {
        @include body-large;
        font-style: italic;
        display: flex;
        justify-content: center;
    }
}
.survey-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    &__input {
        border-radius: 0.5rem;
        height: 3rem;
        width: 85%;
        padding-left: 1rem;
        padding-right: 1rem;
        border-color: $cloud;
        color: $slate;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__label {
        margin-bottom: .25rem;
        @include buttons-labels;
    }
    &__button {
        height: 2.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1.25rem;
        background-color: $fbBlue;
        color: $color-primary-white;
        border-color: $fbBlue;
        width: 100%;
        margin-top: 0.5rem;
        cursor: pointer;
        &:hover {
            border-color: darkblue;
            background-color: darkblue;
        }
    }
    &__rateExperience, &__rateNavigate {
        margin-top: 1rem;
    }
}


