@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.component-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 45rem;
  height: 45rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.component-card h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.component-card h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #555;
  @include sub-header;
}

.component-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  @include body-small;
}

.component-card ul {
  margin-top: 10px;
  margin-left: 20px;
}

.component-card li {
  margin-bottom: 5px;
  @include body-small;
}